.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 2%;
}
img {
  width: 100%;
}

.discount {
  font-size: 100%;
  font-weight: bold;
  padding: 1%;
  border-radius: 10%;
  background-color: greenyellow;
  color: white;
  position: absolute;
  top: 1%;
  right: 2%;
}

.thubnail-row {
  margin-bottom: 1%;
  position: relative;
}

.prize-then {
  text-decoration: line-through;
  color: rgb(194, 194, 194);
}

.prize-now {
 margin-left: 4.5%;
 margin-right: 3%;
  font-weight: bold;
}

.popis {
  font-size: 115%;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.prize {
  margin-bottom: 8%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 0px;
}

.buy-stuff{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-increase-decrease {
  width: 8%;
  height: 5%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.button-increase-decrease:hover {
  cursor: pointer;
}

.number-pieces {
  font-size: 130%;
  padding-top: 1%;
  margin-right: 3%;
  margin-left: 3%;
}